body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}
p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-size:  20px;
    font-family: 'Montserrat', sans-serif;

}
a,
a:hover,
a:visited {
    color: #0071bc;
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -5;
}

#blackout {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    z-index: -6;
}

#map2 {
    top: 0;
    height: 80vh;
    width: 80vw;
    margin-top: 10vh;
    position: fixed;
    z-index: -5;
}

#controls {
    position: fixed;
    height: 76vh;
    width: 20vw;
    margin-top: 10vh;
    margin-left: 80vw;
    z-index: -10;
    border-left: solid;
    padding: 2vh;
}

#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}

#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 101;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.light {
    color: #ffffff;
    background-color: #000000;
}

#header {
    height: 100%;
    width: 100%
}

.dark {
    color: #fafafa;
    background-color: #000000;
    border-radius: 50px;
    font-size: 16px
}

.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 16px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
        
    }
}


/* Fix issue on mobile browser where scroll breaks  */

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

#filter {
    height: 50px;
    width: 200px;
    position: fixed;
    margin-left: 5vw;
    background-color: white;
    opacity: .8;
    text-align: center;
    font-weight: bold;
    z-index: 102;
}

#legend {
    height: 250px;
    width: 500px;
    position: fixed;
    margin-left: 80vw;
    margin-top: 2vh;
    z-index: 0;
    background-color:#000000
    
}

#title {
    height: 7vh;
    width: 100vw;
    position: fixed;
    background-color: white;
    opacity: .8;
    text-align: center;
    font-weight: bold;
    z-index: 100;
    border-bottom: solid;
    padding-top: 3vh;
}

#footer {
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color: white;
    opacity: .8;
    text-align: center;
    font-weight: bold;
    z-index: 100;
    border-top: solid;
    margin-top: 90vh;
}


/* Dropdown Button */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.categorybutton {
    width: 5vw;
    height: 50px;
    margin-bottom: 1vh;
    margin-right: 1vw;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
}

#title {
   font-family: 'Montserrat', sans-serif;
   font-size: 36px
}
#footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align:left;
    margin-left: 10px
 }
 #gdpbutton{
     background-color: #B076FF;
     color:#ffffff
 }
 #socialbutton{
    background-color: #FF9C38;
    color:#ffffff
}
#lifebutton{
    background-color: #66D092;
    color:#ffffff
}
#freedombutton{
    background-color: #FFA8FF;
    color:#ffffff
}
#generositybutton{
    background-color: #66D092;
    color: #ffffff;
}
#corruptionbutton{
    background-color: #88B1FF;
    color:#ffffff
}